{% extends "base.html" %}
{% load static %}
{% block title %}About the Artist | Gretchen North Art{% endblock %}
{% block content %}
<div class="max-w-3xl mx-auto">
  <h1 class="text-3xl font-bold mb-4 text-heading-text">About the Artist</h1> 
<!-- waiting for photos from gretchen should have by tomorrow
  <img src="{% static 'img/artist-bio-pic.jpg' %}" alt="Gretchen North" class="w-64 rounded-full shadow mb-6">
-->
  <p class="text-paragraph-text mb-4">
    Artist Gretchen North has spent most of her life perfecting her craft. Her talent was evident at a very early age, as recognized by both parents who were lifelong artists themselves. 
    Adopting the patience and tenacity of her father, who won numerous awards for his skills in fine woodworking, and inheriting the rich interpretive painting talent of her mother, who was a master of portraits,
    Gretchen drew inspiration from the natural and highly creative environment that surrounded her.
  </p>

  <p class="text-paragraph-text mb-4">
    Gretchen is gifted with a rich sense of color, a fresh approach to content and a wonderfully unique perspective 
    wrapped in her signature style.
  </p>

  <p class="text-paragraph-text">
    Her work includes murals, decorative painting, fine faux finishes, architectural and furniture detailing, sculpture and illustrating.
  </p>
</div>
{% endblock %}
