# === Python & Django ===
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
*.log

# === Environment Variables ===
.env
.env/

# === Virtual Environment ===
venv/

# === Pipenv ===
Pipfile.lock

# === Node ===
node_modules/
*.log

# === Tailwind Output ===
theme/static/css/output.css

# === VS Code ===
.vscode/

# === macOS ===
.DS_Store

# === Cloudinary ===
cloudinary.*
