[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django = "*"
cloudinary = "*"
django-cloudinary-storage = "*"
python-dotenv = "*"
django-tailwind = "==3.3.0"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.11"
